/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	padding-right: 10px;
}

#portfolio {
	text-align: center;
}

.header{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 20px;
}

#edit1 {
	color: black;
	position : relative;
	margin-top: 10px;
	margin-left: 50px;
	width: 15px;
	height: 15px;
	text-decoration: none;
}
#edit1::before {
	font-family: 'Syne';
	font-weight: 900;
	margin-right: 5px;
}

#edit2 {
	display: inline-block;
	align-items: center;
	margin-left: 10px;
	padding: 5px;
	color: black;
	text-decoration: none;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
	color: black;
}

li:hover {
	color: #B1663C;
}



#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.category-buttons{
	text-align: center;
}
.buttons{
	font-family: 'Syne';
	padding: 10px 25px 10px 25px;
	height: 37px;
	flex-shrink: 0;
	margin: 5px;
	margin-bottom: 20px;
	color: #1D6154;
	background-color: #FFFF;
	border-radius: 60px;
	border: 0.5px solid #1D6154;
	cursor: pointer;
		
}

.buttons:hover{
	background-color: #1D6154;
	color: white;
}
.active{
	background-color: #1D6154;
	color: white;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin-top: 135px;
}

#login h2 {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #1D6154;
	margin-bottom: 37px;
}

#login form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#login label {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
	margin-bottom: 10px;
}

#login input[type="email"],
#login input[type="password"],
#login input[type="submit"] {
	width: 379px;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 30px;
}

#login input[type="submit"] {
	width: 179px;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	border: none;
}

#login p {
	margin-top: 10px;
	text-align: center;
}

#login a {
	color: #1D6154;
	text-decoration: none;
}

#error-message {
	color: red;
	font-size: 14px;
	margin-top: 10px;
	display: none;
}

.title_mes_projects {
	display: flex;
	justify-content: center;
}

.div_title_mes_projects {
	display: flex;
}

/* Styles pour la modale */

:focus {
	box-shadow: 0 0 1px blue;
}
.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	animation: fadeIn .3s both;
	z-index: 2;
}

.modal-wrapper{
	width: 500px;
	padding: 20px;
	background: #fff;
	animation: slideFromTop .3s both .1s;
}

.edit-icon {
    font-size: 16px;
}


.js-modal.header.edit-buttons {
	text-decoration: none;
    margin-right: 350px;
    margin-top: -27px;
    color: black;
    padding: 5px;
}

.js-modal-close {
	position: absolute;
    top: 10px; 
    right: 10px; 
    cursor: pointer;
    color: black; /* Couleur de l'icône */
    font-size: 24px; /* Taille de l'icône */
}



.modal[aria-hiden="true"] {
	animation-name: fadeOut;
}

.modal[aria-hiden="true"] .modal-wrapper {
	animation-name: slideToBottom;
}


@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes slideFromTop {
	from { transform: translateY(-50px); }
	to { transform: translateY(0px); }
}

@keyframes slideToBottom {
	from { transform: translateY(0px); }
	to { transform: translateY(50px); }
}

#titlemodal {
	text-align: center;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 50px;
	margin-top: 30px;

}

.image-gallery {
	width: 100%;
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr 10fr;
    grid-column-gap: 5px;
    grid-row-gap: 20px;
}

.separator {
    margin: 40px auto; 
    border: none;
    border-top: 1px solid #B3B3B3; /* Couleur et style de la ligne */
	width: 420px;
	height: 1px;
}

.js-admin-projets {
	width: 180px;
	margin: 20px auto;
	display: flex;
	border-radius: 60px;
	font-family: 'Syne';
    font-weight: 550;
	font-size: 14px;
	padding: 20px;
    color: white;
    background-color: #1D6154;
	border: none;
	cursor: pointer;
	text-decoration: none;
	justify-content: center;
}

.btn-clear-admin {
	display: flex;
	justify-content: center;
	color: #D65353;
	margin-bottom: 30px;
	text-decoration: none;
	font-size: 14px;
  }

  .image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

/* Styles pour l'icône de suppression */
.delete-icon {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 5px;
	color: white;
	background-color: black;
	padding: 3px;
	border-radius: 20%;
	cursor: pointer;
}

.fa-arrows-alt {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 5px;
    color: white; /* Couleur de l'icône */
	background-color: black;
	padding: 3px;
	border-radius: 20%;
	cursor: pointer;
}

.fa-solid.fa-pen-to-square.edit-icon {
	position: relative;
	margin-left: 40px;
    padding: 10px;
	font-size: 10px;
	color: black;
	justify-content: center;
}

.js-modal.portfolio.edit-buttons {
	text-decoration: none;
	color: black;
	padding: 8px;
}

.gallery__item-modale {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.edit-text {
    position: absolute;
    bottom: 10;
    left: 10;
    width: 100%;
    color: black;
    padding: 5px;
}

/*style pour la 2e modale*/

#modal2.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-photo-content {
	object-fit: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: #E8F1F6;
	
	padding: 20px;
	margin-left: 60px;
	margin-right: 60px;

}

#titlemodal2 {
	text-align: center;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 30px;
	margin-top: 10px;
}
.empty-image {
	text-align: center;
	width: 220px;

  }

  .empty-image img {
	width: 150px;
	margin: 0 auto;
	margin-bottom: 10px;
  }

.add-photo-button {
	background-color: #CBD6DC;
	color: #306685;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	border: none;
}

.form-group-title {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
}

.form-group-title label {
	display: block;
  	margin-bottom: 10px;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	color: #3D3D3D;

}

.form-group-id {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
}

.form-group-id label {
	display: block;
	margin-bottom: 10px;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	color: #3D3D3D;
}

#titre.js-title {
	height: 51px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	background-color: white;
}



#categorie.js-categoryId {
	height: 51px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	background-color: white;
}

.add-photo-input {
	display: none;
  }

  
.add-photo-content p {
	margin-top: 5px;
	font-size: 14px;
  }
input.js-add-work {
	display: flex;
	justify-content: center;
	background-color: #A7A7A7;
	color: white;
	cursor: pointer;
	border: none;
	width: 237px;
	height: 36px;
}


.fa-solid.fa-arrow-left {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	color: black;
	font-size: 24px;

}

.green-button {
    background-color: #1D6154 !important;
    color: white;
}

.admin__modifer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
	justify-content: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* Assure que les bordures et le padding sont inclus dans la largeur */
	text-align: center; /* Centrer le texte horizontalement */
}

.admin__modifer i {
    margin-right: 10px;
    color: white; /* Couleur blanche pour l'icône crayon */
}

.admin__modifer p {
    margin: 0; /* Supprime les marges par défaut */
}

.admin__modifer button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
	border-radius: 30px;
	margin-left: 5px;
	white-space: nowrap;
}

.fa-solid.fa-pen-to-square.mode-edition-icon {
	position: relative;
	font-size: 10px;
	color: white;
	justify-content: center;
}














